*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#d1{
    background-color: aqua;
    text-align: center;
    padding: 20px;
}

#d2{
    background-color: pink;
    text-align: center;
    padding: 15px;
}

#d2 nav{
    display:flex;
    justify-content: center;
    gap: 40px
}

#d2 nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#d3{
    display:flex ;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.welcome{
    background-color: khaki;
    padding: 20px;
    flex: 3px;
    border-radius: 10px;
}

.Announcement{
    background-color: aqua;
    padding: 20px;
    flex: 1px;
    border-radius: 10px;
}

footer{
    background-color: orange;
    text-align: center;
    padding: 15px;
}

#d2 nav a:hover{
    text-decoration: underline;
    color:rgb(189, 3, 80)
}

.form-container{
    width: 700px;
    margin: 20px auto;
    background-color: rgb(255, 25, 140);
    padding: 50px;
    border-radius: 10px;
}

.form-container h2{
    margin-bottom: 15px;
}

.form-container label{
    display: block;
    margin-top: 10px;
}

.form-container input [type=text],
.form-container input [type=email],
.form-container input [type=password],
.form-container select,
.form-container textarea{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 5px;
}

.form-container input [type=radio],
.form-container input [type=checkbox]{
    width: auto;
    margin-right: 5px;
}

.form-container input [type=file]{
    margin: 10px 0;
}

.grades-table{
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

.grades-table th{
    background: #0066cc;
    color: white;
    padding: 12px;
}

.grades-table td{
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.profile-card{
    width: 700px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
}

.photo{
    width: 170px;
    height: 170px;
    background: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.profile-info h2{
    margin-bottom: 10px;
}

.profile-info ul{
    margin-left: 20px;
}